<html>
  <head>
    <meta charset="utf-8">
    <title>Card Sprint</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
    <!-- We need this line below for responsiveness! -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div class="container">
      <div class="card-category" style="background-image: url(https://images.unsplash.com/photo-1495214783159-3503fd1b572d?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1500&amp;q=80)">
            Breakfast
      </div>
    </div>

    <div>

    <div class="card-product"></div>

    <div class="card-trip"></div>

  </body>
</html>
